@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    position: relative;
}
p{
    font-family: 'lato';
    font-weight: 500;
}
h1 {
    font-family: 'lato';
    font-weight: 700;
}

:root {
    --navbarcolor:#272727;
    --hoverheart:#FF4088;
    --buttoncolor:#F6224C;
    --textcolor:#ECECEC;
    --backgroundpopup:#EFEFEF;
    --btnaddtocart:#3B3E40;
    --currentbtnheart:#FFC4FD;
}


/*Nav bar*/
.navbar {
  background-color: var(--navbarcolor);
}

/*slide image*/
.containerimg{
  transform: translate(0,0%); 
  overflow: hidden; 
}
.slideimg {
    
    position: relative;
    padding: 0;
    width: 100%;
    animation: slide 16s infinite;
}
.containerimg:hover{
    background-color: rgb(255, 255, 255,0.1);
}
.slideimg img{
   
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 0px;
    padding-right: 0px;
}


@keyframes slide {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-100%);
  }
  75%{
    transform: translateX(-100%);
  }
  80%{
    transform: translateX(-200%);
  }
  95%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(-300%);
  }
}


/*seach cecheck box*/
.seach-cecheck-box {
  position: absolute;
  visibility: hidden;
}

/*Button Add to cart*/
.btnAdc {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--btnaddtocart);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 4px;
  width: 85px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
 .btnAdc span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 15px;
  font-weight: 500;
 }
 
 .btnAdc span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 .btnAdc:hover span {
  padding-right: 15px;
 }
 
 .btnAdc:hover span:after {
  opacity: 1;
  right: 0;
 }

/*button heat*/
.button-heart i{
  color: var(--currentbtnheart);
}
.button-heart i:hover{
  color: var(--hoverheart);
  transition: all 0.5s;
}


/*price-product*/
.price-product{
  position: absolute;
  color: #101010;
  background-color: #F55454;
  top: 10px;
  padding: 5px;
  width: auto;
  font-weight: 600;
  font-size: 1.3rem;
}


/*footer*/
.footer {
  margin-top: 15rem;
}

section.footer li:nth-child(1) i{
  color: #1877f2;
}
section.footer li:nth-child(2) i{
  color: #1DA1F2;
}
section.footer li:nth-child(3) i{
  color: #FF0000;
}
section.footer li i:hover {
  color: #BEB9BA ;
}

/*payment-list*/
.payment-list ul{
  justify-content: center;
  text-align: center;
}

.payment-list li{
  
  width: 80px;
  height: 35px;
  padding: 5px;
  justify-content: center;
  text-align: center;
}
.payment-list li img{
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.footer-frist ul{
  margin-top: 20px;
}
.footer-frist li a{
  font-weight: 300;
  font-size: .75rem;
  gap: 0;
  text-decoration: none;
  color: aliceblue;
}
.footer-frist li a:hover{
  color: #FCADCB;
}


/*alart-item*/
.popup-item {
  top: 50%;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  overflow: auto;
}

.popup-product{
  background-color: var(--backgroundpopup);
  color: #101010;
  top: 25vh;
  min-height: 50vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #101010;
}

.dtipu {
  background-color: #323232;
}
.dtipu p {
  color: var(--backgroundpopup);
}

/*add image*/
/* .add-image {
  background-image: url(/image/mds996.jpg);
  display: inline-block;
  max-width: 600px;
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-repeat: no-repeat;
} */

/*button close popup*/
.bcp {
  align-items: center;
  justify-content: center;
}
.bcp button {
  color: #FCADCB;
  background-color: #272727;
  width: 10rem;
  padding: 0;
  font-weight: 600;
  font-size: 1.25rem;
}
.bcp button:hover {
  background-color: var(--buttoncolor);
}

/* .btslsize button{
  color: var(--textcolor);
  font-weight: 600;
  border-color: var(--textcolor);
} */

.buttnchos.clicked{
  background-color: var(--buttoncolor);
  color: var(--navbarcolor);
}

/*close popup*/

.popupitem{
  visibility: visible;
}
/* Slide show item count */
.showItemCount  {
  /* visibility: hidden; */
  visibility: visible;
}
.showItemCount div{
  background-color: var(--btnaddtocart);
  width: 400px; 
  height: 100vh; 
  z-index: 55; 
  top: 10%;
}
@media screen and (max-width: 990px) {
  .showItemCount div{
    max-width: 900px;
    width: 100%;
    z-index: 52; 
  }
}

/* header top bar */
.hdtb {
  border-bottom:2px solid white;
  font-weight: 600;
}

/* text alert show in slide item count */
.txsd {
  margin-top: 0;
  font-weight: 600;
  display: block;
}

.showItemInchart01 {
  display: flex;
}
/* Button shop */
/* .btnShopnow {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.btnShopnow:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.btnShopnow:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.btnShopnow:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
} */
